{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sticky Notes</title>
    <link rel="stylesheet" href="{% static 'posts/styles.css' %}" />
    <title>
        {% block title %}
          Sticky Notes Application
        {% endblock title %}
    </title>
  </head>
  <body>
    <header>
      <h1>
        {% block header %}
          Sticky Notes
        {% endblock header %}
      </h1>
      <!-- add navigation links or other content-->
    </header>
    <main>
      {% block content %}
      <!-- Main content will be injected here -->
      {% endblock content %}
    </main>
    <footer>
      <p>&copy; 2024 Sticky Notes App</p>
    </footer>
  </body>
</html>
